export default function Link({ content, href, target, classname, id }) {
  return (
    <a 
      href="{{href}}" 
      target="{{target}}"
      className="{{classname}}"
      id="{{id}}"
    >
      {{content}}
    </a>
  );
}